<h1 class="ms-3">Stupid Coaching</h1>
<h3 class="border-left ms-3"><%= @question %></h3>
<p class="border-left ms-3">-<em>You</em></p>
<p>

</p>
<h3 class="border-left coach-answer mb-0 ms-3"><%= @answer %></h3>
<p class="border-left coach-answer mt-0 ms-3">-<em>Your coach</em></p>
<h4 class="ms-3"><%= link_to "Ask a new question", ask_path %></h4>
