<h1 class="ms-3">Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Ask your coach anything:" class="ms-3">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
